<h4 class="ui center aligned icon header">
  <i class="circular blue comments icon"></i>
  Chat App
</h4>

<div class="ui two column grid ">

    <div class="four wide column ">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui vertical text menu">
                  <div class="header item">Online User:</div>
                  <a class="item">
                    Nida
                  </a>
                  <a class="item">
                    Lia
                  </a>
                  <a class="item">
                    Brioche
                  </a>
                  <a class="item">
                    Almond
                  </a>
                  <a class="item">
                    Pringles
                  </a>                  
                </div>
            </div>
        </div>
    </div>

    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="scroll_chat">        
                <div class="ui feed" id="chat">
                  
                    <%= render @messages %>
                  
                </div>
            </div>
            <div class="extra content">
              <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
                <div class="field">
                    <div class="ui fluid icon input">
                      <%= f.text_field :body %>
                      <%= f.button '<i class="blue icon edit"></i>'.html_safe %>
                    </div>
                </div>
              <% end %>
            </div>            
        </div>
    </div>

</div>